   <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
          <h1 class="my-4" style="color: #943F15; font: Verdana;"><%= @recipe.title %></h1>
          <div class="list-group">
            <a href="/recipes/<%= @recipe.id %>?diet_preference=meat" class="btn btn-danger">Convert To Meat Friendly</a>
            <a href="/recipes/<%= @recipe.id %>?diet_preference=dairy" class="btn btn-info">Convert To Dairy Friendly</a>
            <a href="/recipes/<%= @recipe.id %>" class="btn btn-warning">Revert To The Original</a>
            <br>
            <div class="recipe-text">
              <h4 >Ingredients:</h4>
              <ul>
              <% @ingredients.each do |ingredient| %>
                  <li class="adam-list adam-recipe-list adam">
                  <i class="fa fa-spoon " aria-hidden="true"></i>
                  <% if @diet_preference == "meat" && ingredient.meat_sub %>
                    <%= ingredient.meat_sub.name.titleize %>
                  <% elsif @diet_preference == "dairy" && ingredient.dairy_sub %>
                    <%= ingredient.dairy_sub.name.titleize %>
                  <% else %>
                    <%= ingredient.name.titleize %>
                  <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
          <div class="col-lg-8">
            <div class="card mt-4">
              <img src="<%= @recipe.image_url %>" class="img-fluid recipe-image">
            </div>
            <h4 class="chef-name" style="color: #943F15; font: Verdana;">Created by Chef <%= @recipe.chef %></h4>  
          </div>
        </div>
      </div>
    </div>


<!-- ========================================== -->




<!-- <%=  link_to "Meat Substitute", "/recipes/#{ @recipe.id }?diet_preference=meat", class: "btn btn-danger" %><br>
<%=  link_to "Dairy Substitute", "/recipes/#{ @recipe.id }?diet_preference=dairy", class: "btn btn-info" %>
<br>
<button><a href="/recipes/<%= @recipe.id %>">Revert</a></button><br> -->

  <div class="directions-recipe">
    <a href="<%= @recipe.image_url %>"></a>
    <h3>Directions:</h3>
    <ol>
     <% @directions.each do |direction| %>
        <li><%= direction %></li>
     <% end %>
    </ol>
  </div>


