<h2><%= @recipe.title %></h2>
<img src= <%= @recipe.image_url %> >
<br>
<a href="/recipes/<%= @recipe.id %>?diet_preference=meat">Meat Substitute</a>
<a href="/recipes/<%= @recipe.id %>?diet_preference=dairy">Dairy Substitute</a>
<a href="/recipes/<%= @recipe.id %>">Revert</a>
<a href="<%= @recipe.image_url %>"></a>
<h4>Created by Chef <%= @recipe.chef %></h4>
<ul>
<% @ingredients.each do |ingredient| %>
    <li>
    <% if @diet_preference == "meat" && ingredient.meat_sub %>
      <h4><%= ingredient.meat_sub.name.titleize %></h4>
    <% elsif @diet_preference == "dairy" && ingredient.dairy_sub %>
      <h4><%= ingredient.dairy_sub.name.titleize %></h4>
    <% else %>
      <h4><%= ingredient.name.titleize %></h4>
    <% end %>
</li>
<% end %>
</ul>
<h3>Directions:</h3>
<ol>
 <% @directions.each do |direction| %>
    <li><%= direction %></li>
 <% end %>
</ol>

