<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>K.eF.C.</title>
    <link rel="icon" href="https://image.flaticon.com/icons/png/128/100/100435.png" type="image/png" sizes="16x16">
    <script src="https://use.fontawesome.com/b192486f68.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-item.css" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-color fixed-top">
      <div class="container">
        <a class="navbar-brand navbar-text" href="/">Kosher eFriendly Converter</a>
        <div class="welcome-text">
          <% if current_user %>
            Welcome, <%= current_user.first_name.capitalize %>
          <% else %>
            <a class="nav-link welcome-text signup-link" style="" href="/signup">Welcome to K.eF.C., care to Sign Up?</a>
          <% end %>
        </div>
        <!-- <form class="navbar-form navbar-left"> -->
          <%= form_tag "/recipes", method: :get, class: "navbar-form navbar-left" do %>
            <div class="search form-inline">
              <input type="text" name="search_term" placeholder="Search For Recipes"><br>
              <input class="btn btn-search" type="submit" value="Search">
            </div>
          <% end %>
        <!-- </form> -->
        <div class="dropdown" id="top-navbar-dropdown">
          <button class="btn btn-default btn-menu dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Menu
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu shifted-right" aria-labelledby="dropdownMenuDivider">
            <li><a class="nav-link recipe-text" href="/">Home</a></li>
            <li><a class="nav-link recipe-text" href="/about">What is Kosher?</a></li>
            <li><a class="nav-link recipe-text" href="/recipes">Recipe Index</a></li>
            <li><a class="nav-link recipe-text" href="/contact">Contact Me</a></li>
            <li role="separator" class="dropdown-divider divider-color"></li>
            <% if current_user %>
              <li><a class="nav-link recipe-text" href="/logout">Log Out</a></li>
            <% else %>
              <li><a class="nav-link recipe-text" href="/login">Log In</a></li>
              <li><a class="nav-link recipe-text" href="/signup">Sign Up!</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container main-content-div">
      <%= yield %>
    </div>

    <!-- Footer -->
    <footer class="py-3 navbar-color" id="footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; a.goldh20 coding 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
  </body>

</html>
